
<p class="p-4">
    <i class="fa fa-smile-o p-2" aria-hidden="true"></i> En esta sección puedes proponer un tema o un curso en el que estés interesado tú o un grupo de amigos. <br>
    <i class="fa fa-smile-o p-2" aria-hidden="true"></i> Los datos que ingreses serán referenciales para asignar un tutor. <br>
    <i class="fa fa-smile-o p-2" aria-hidden="true"></i> Inscribete a un curso de Marvin Robot <a href="/cursos/inscripcion/MarvinRobot">Aquí</a>
</p>
<div class="row  p-4">
    <div class="col-md-3 mx-auto car">
        <div class="card cardh cursoform">
           
            <div class="card-header">
                Registrar cursos
            </div>
            <div class="card-body">
                <form action="/cursos/add" method="POST">
                    <div class="form-group">
                        <label for="nombre">Nombre del curso</label>
                        <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="{{nombre}}" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="precio">Costo del curso</label>
                        <input type="number" class="form-control" name="precio" placeholder="S/. Monto aprox." value="{{precio}}" >
                    </div>
                    <div class="form-group">
                        <label for="inicio">Fecha de inicio del curso</label>
                        <input type="date" class="form-control" name="inicio" placeholder="Fecha de inicio" value="{{inicio}}" >
                    </div>
                    <div class="form-group">
                        <label for="contacto">Telefono de contacto</label>
                        <input type="number" class="form-control" name="contacto" placeholder="Celular/Teléfono" value="{{contacto}}" required>
                    </div>
                    <div class="form-group">
                            <label for="contenido">Agrega alguna descripción del curso</label>
                            <textarea name="contenido" placeholder="Contenido del curso" class="form-control" value ="{{contenido}}"required></textarea>
                    </div>
                    <button class="btn btn-primary btn-block">
                        Crear
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<br>

<div class="container">
<div class="fb-comments" data-href="http://localhost:4000/cursos/add" data-numposts="5" data-width="100%">
</div>
</div>
<a href="https://api.whatsapp.com/send?phone=51937875282" class="btn-wsp" target="blank"><i class="fa fa-whatsapp"
        aria-hidden="true"></i>
</a>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
