
<div class="main-contenedor ">
<br>
    <section class="contenido-header signuptranslate">
                <section class="textos-header">
                    <h1>Bienvenido a </h1> <h1>Woom</h1>
                    <p>
                        <i class="fa fa-hand-o-right signinicon" aria-hidden="true"></i> Woom te ofrece una plataforma innovadora<br>
                        <i class="fa fa-hand-o-right signinicon" aria-hidden="true"></i> Tutores disponibles las 24 horas <br>
                        <i class="fa fa-hand-o-right signinicon" aria-hidden="true"></i> Explicaciones dinámica y amenas  <br>
                        <i class="fa fa-hand-o-right signinicon" aria-hidden="true"></i> Mejora tu rendimiento académico<br> 
                    </p>
    </section>


        <div class="col-md-4 mx-auto p-4 ">
            
            
        <div class="card cardh signupform">
            <div class="card-header">
                Registrate
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST" id="signupform">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Nombres" value="{{name}}" id="signupname" autofocus required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="lastname" placeholder="Apellidos" value="{{lastname}}" >
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="Email" value="{{email}}" id="signupemail" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="telefono" placeholder="Teléfono" value="{{telefono}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="pais" placeholder="Ciudad" value="{{pais}}">
                    </div>
                    <hr>
                    <div  class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña" value="{{password}}" id="signuppassword" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password"
                            placeholder="Confirmar contraseña" value="{{confirm_password}}" required>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="roles" placeholder="roles" value="{{roles}}" style="display: none;">
                    </div>

                    <button class="btn btn-primary btn-block">
                        Registrar
                    </button>
                    <p class="warnings" id="signupwarnings"></p>
                </form>
            </div>
            
        </div>
    </div>
               
  
         
    </section>

</div>
 <br>
<br>
<br>
<br>
<br> 
