
<div class="responsiveInscriptions p-4 ">
    <div class="fondoNewCurso">
    </div> 
</div>
<div class="main-contenedor ">
<br>
    <section class="contenido-header signuptranslate">
                <section class="textos-header">
                    <h1>Bienvenido a </h1> <h1>Woom</h1>
                    <p>
                        
                        <i class="fa fa-hand-o-right signinicon" aria-hidden="true"></i> Ten en cuenta que el correo que registres te servirá para iniciar sesión <br>
                        <i class="fa fa-hand-o-right signinicon" aria-hidden="true"></i> Una vez subas una tarea te contáctaremos al correo o whatsapp del número que registres <i class="fa fa-info-circle red" aria-hidden="true"></i><br>
                        <i class="fa fa-hand-o-right signinicon" aria-hidden="true"></i> Puedes acceder al boton de Whatsapp de la parte inferior derecha para mas información <br> 
                    </p>
    </section>


        <div class="col-md-4 mx-auto p-4 ">
            
            
        <div class="card cardh signupform">
            <div class="card-header">
                Registrate
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST" id="signupform">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Nombres" value="{{name}}" id="signupname"  required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="lastname" placeholder="Apellidos" value="{{lastname}}" >
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="Email" value="{{email}}" id="signupemail" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="telefono" placeholder="Teléfono" value="{{telefono}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="pais" placeholder="Ciudad" value="{{pais}}">
                    </div>
                    <hr>
                    <div  class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña" value="{{password}}" id="signuppassword" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password"
                            placeholder="Confirmar contraseña" value="{{confirm_password}}" required>
                    </div>


                    <div class="form-group">
                        <input type="text" class="form-control" name="roles" placeholder="roles" value="{{roles}}" style="display: none;">
                    </div>
                    
                    <button class="btn btn-primary btn-block g-recaptcha" data-sitekey="6LerMgQaAAAAAHS8wl9k52qupXi-inJDispXTK2u" data-callback='onSubmit' data-action='submit' id="formbutton">
                        Registrar
                    </button>
        
                </form>
            </div>
            
        </div>
    </div>
               
  
         
    </section>

</div>
 <br>
<br>
<br>
<br>
<br> 
<a href="https://api.whatsapp.com/send?phone=51990012243" class="btn-wsp" target="blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>
</a>
 <script src="https://www.google.com/recaptcha/api.js"></script>

  <script>
      
 function onSubmit(token) {
                        
                    signupform.submit();
   }
  
 </script>