
<br>
<div class="contenedor_loader">
    <div class="loader"></div>
</div>
      
    <div class="row mx-auto "> 
      
            {{#each notes}}      
                <div class="col-md-3 mx-auto p-4">
                    
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title d-flex justify-content-between align-items-center">
                                {{title}} 
                            </h4>
                            <div style="font-size: 8px;">{{createdAt}}</div>
                            <hr>
                            <p>Descripción: {{description}} </p>
                            Ubicación de la tarea: {{url}}
                            <br>
                            <br>
                            <p>Id: {{id}}</p>
                        
                        </div>
                    </div>
                    
                </div>
                
            {{/each}}
            

        </div>  
   
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>